# Dependências
node_modules/
package-lock.json
yarn.lock

# Arquivos de ambiente
.env
.env.*
!.env.example

# Logs e relatórios
reports/
*.log
*.csv
*.json
*.html
*.jtl
*.xml

# Arquivos de cache
.cache/
.turbo
.k6/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos temporários
tmp/
temp/

# Arquivos dist
dist/
