# Ignorar diretórios que não precisam ir para a imagem
coverage
test
node_modules
**/node_modules
.git
.github
.vscode

# Ignorar arquivos de configuração ou logs desnecessários
*.log
*.md
docker-compose.yml