.profile-page {
  background-color: #f4f6f9;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: auto;
  padding: 0.5rem;
  max-width: 960px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}

.profile-container {
  display: block;
  gap: 1rem;
}

.form-profile {
  display: flex;
  flex-direction: column;
  max-width: 93%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.input-fullname-profile,
.input-socialname-profile,
.input-phone-profile,
.input-cpfcnpj-profile {
  display: flex;
  align-items: center;
  max-width: 70%;
}

@media (max-width: 3840px) and (max-height: 2160px) {
  .btn-save-profile {
    width: 8vh;
    height: 2vh;
  }
}

@media (max-width: 1920px) {
  .btn-save-profile {
    width: 12vh;
    height: 4vh;
  }
}
