.chart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart-title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-primary);
}

.chart-wrapper {
  flex: 1;
  min-height: 300px;
  position: relative;
}