on:
  workflow_call:

jobs:
  cypress-tests:
    name: Cypress Testes QA-Solar
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      TURBO_TELEMETRY_DISABLED: 1

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 22.19.0
          cache: "yarn"

      - name: Instalar dependências do Monorepo
        run: yarn install --frozen-lockfile

      - name: Executar testes de Componentes Cypress
        id: cypress-component-tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: tests/cypress
          command: npx cypress run --component --config-file cypress.config.ts

      - name: Upload raw results (Cypress CT)
        uses: actions/upload-artifact@v4.4.0
        with:
          name: cypress-ct
          path: qa-results/raw/cypress-ct
