name: Testes QA-Solar - CI

on:
  pull_request:
    branches:
      - main
      - main-workflow
  workflow_dispatch:

jobs:
  backend-unit-tests:
    uses: ./.github/workflows/backend.yml

  frontend-unit-tests:
    uses: ./.github/workflows/frontend.yml

  cypress-component-tests:
    uses: ./.github/workflows/cypress-component.yml

  cypress-tests:
    needs: [backend-unit-tests, frontend-unit-tests, cypress-component-tests]
    if: >-
      always() &&
      (needs.backend-unit-tests.result == 'success' &&
      needs.frontend-unit-tests.result == 'success' &&
      needs.cypress-component-tests.result == 'success')
    uses: ./.github/workflows/cypress.yml

  playwright-tests:
    needs: [backend-unit-tests, frontend-unit-tests, cypress-component-tests]
    if: >-
      always() &&
      (needs.backend-unit-tests.result == 'success' &&
      needs.frontend-unit-tests.result == 'success' &&
      needs.cypress-component-tests.result == 'success')
    uses: ./.github/workflows/playwright.yml

  robot-framework-tests:
    needs: [backend-unit-tests, frontend-unit-tests, cypress-component-tests]
    if: >-
      always() &&
      (needs.backend-unit-tests.result == 'success' &&
      needs.frontend-unit-tests.result == 'success' &&
      needs.cypress-component-tests.result == 'success')
    uses: ./.github/workflows/robot.yml

  selenium-tests:
    needs: [backend-unit-tests, frontend-unit-tests, cypress-component-tests]
    if: >-
      always() &&
      (needs.backend-unit-tests.result == 'success' &&
      needs.frontend-unit-tests.result == 'success' &&
      needs.cypress-component-tests.result == 'success')
    uses: ./.github/workflows/selenium.yml

  preprocess:
    needs:
      [cypress-tests, playwright-tests, robot-framework-tests, selenium-tests]
    if: >-
      always() &&
      (needs.cypress-tests.result == 'success' &&
      needs.playwright-tests.result == 'success' &&
      needs.robot-framework-tests.result == 'success' &&
      needs.selenium-tests.result == 'success')
    uses: ./.github/workflows/preprocess.yml

  docker-deploy:
    if: github.base_ref == 'main' && needs.preprocess.result == 'success'
    needs: [preprocess]
    uses: ./.github/workflows/docker-deploy.yml
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  pages-deploy:
    if: needs.preprocess.result == 'success'
    needs: [preprocess]
    uses: ./.github/workflows/pages-deploy.yml
    permissions:
      contents: write
