name: Testes QA-Solar - CI

on:
  pull_request:
    branches:
      - main
      - main-workflow
  workflow_dispatch:

jobs:
  backend-tests:
    uses: ./.github/workflows/backend.yml

  cypress-tests:
    needs: [backend-tests]
    uses: ./.github/workflows/cypress.yml

  playwright-tests:
    needs: [backend-tests]
    uses: ./.github/workflows/playwright.yml

  robot-framework-tests:
    needs: [backend-tests]
    uses: ./.github/workflows/robot.yml

  docker-deploy:
    needs: [cypress-tests, playwright-tests, robot-framework-tests]
    uses: ./.github/workflows/docker-deploy.yml
